:root {
    --ff-main: "Roboto", serif;
    --ff-logo: "Shrikhand", serif;

    --fw-light: 100;
    --fw-main: 300;
    --fw-medium: 500;
    --fw-heavy: 700;

    --fs-title-big: 40px;
    --fs-title: 24px;
    --ffs-sub-title: 18px;

    --color-main-300: #9356dc;
    --color-main-600: #ff79da;
    --color-second-300: #89c8fa;
    --color-second-600: #003a68;
    --color-third-300: #99e2d0;
    --color-third-600: #008766;

    --color-bg-light: #f6f6f6;
    --color-bg-medium: #eaeaea;
    --color-bg-heavy: #353535;
}

* {
    box-sizing: border-box;
    margin: 0px;
}
img {
    display: block;
    width: 100%;
}

.oh-my-food-logo {
    font-family: var(--ff-logo);
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #101010;
}
