@import "libs/mixins.scss";

$ff-main: "Roboto", serif;
$ff-logo: "Shrikhand", serif;

$fw-light: 100;
$fw-main: 300;
$fw-medium: 500;
$fw-heavy: 700;

$fs-title-big: 40px;
$fs-title: 24px;
$fs-sub-title: 18px;

$color-main-300: #9356dc;
$color-main-600: #ff79da;
$color-second-300: #89c8fa;
$color-second-600: #003a68;
$color-accepted-300: #99e2d0;
$color-accepted-600: #008766;

$color-bg-light: #f6f6f6;
$color-bg-medium: #eaeaea;
$color-bg-heavy: #353535;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font-family: $ff-main;
    scroll-behavior: smooth;
    scroll-padding: 50px;
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    :visited {
        color: inherit;
    }
}
.main-container {
    max-width: 1100px;
    margin: auto;
}
.h2-home {
    @include h2-home;
}
.header {
    &__logo {
        max-width: 200px;
        margin: auto;
        padding: 15px;
    }
    &__location {
        background-color: $color-bg-medium;
        display: flex;
        justify-content: center;
        padding: 15px;
        box-shadow: 0px 4px 4px rgba(#000, 0.2), 0px -4px 4px rgba(#000, 0.2);
        i {
            margin-right: 1rem;
        }
        p {
            font-weight: $fw-medium;
        }
    }
    @media (min-width: 770px) {
        &__logo {
            padding: 31px;
        }
        &__location {
            box-shadow: none;
        }
    }
}
.header__restaurants {
    display: flex;
    align-items: center;
    .header__logo {
        translate: -29px;
    }
    .fa-arrow-left {
        padding: 20px;
        font-size: 18px;
    }
}
.hero {
    background: $color-bg-light;
    margin-top: -4px;
    padding: 35px 18px 57px 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__sub-title {
        font-size: $fs-sub-title;
        font-weight: $fw-main;
        margin-bottom: 26px;
    }
    &__btn {
        @include main-gradient;
    }
    @media (min-width: 770px) {
        // margin-top: 0px;
        &__title {
            font-size: $fs-title-big;
        }
    }
}
.fonctionnement {
    padding: 50px 20px 50px 20px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    &__cards {
        display: flex;
        align-items: center;
        position: relative;
        padding: 28px 23px 28px 38px;
        margin: 0 12px 0 12px;
        background-color: $color-bg-light;
        box-shadow: 0px 4px 15px rgba(#000, 0.15);
        border-radius: 25px;
        font-weight: $fw-medium;
        i {
            margin-right: 20px;
        }
    }
    @media (min-width: 770px) {
        &__list {
            flex-direction: row;
        }
        &__cards {
            flex-grow: 1;
        }
    }

    &__order--circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: white;
        background-color: $color-main-300;
        text-align: center;
        position: absolute;
        left: 0;
        transform: translateX(-12px);
    }
}
.restaurants {
    padding: 50px 18px;
    background-color: $color-bg-light;
    box-shadow: 0 0 0 100vmax $color-bg-light;
    clip-path: inset(0 -100vmax);
    &__list {
        display: grid;
        gap: 18px;
        @media (max-width: 425px) {
            grid-template-columns: 1fr;
        }
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
    &__cards {
        // height: 250px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
    }
    img {
        height: 170px;
        object-fit: cover;
    }
    &__badge {
        display: none;
    }
    &__badge--new {
        display: block;
        position: absolute;
        margin: 15px;
        padding: 7px 9px;
        color: #008766;
        background-color: #99e2d0;
        right: 0;
        top: 0;
        font-size: 14px;
        font-weight: $fw-medium;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: white;
        color: black;
        &__text {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &__i {
            display: grid;
        }
    }
}
.fa-heart {
    font-size: 24px;

    &-unliked {
        grid-area: 1 / 1;
        opacity: 1;
        &:hover,
        &:active {
            opacity: 0;
        }
    }
    &-liked {
        @include heart-gradient;
        grid-area: 1 / 1;
        opacity: 0;
        &:hover,
        &:active {
            opacity: 1;
        }
    }
}

.footer {
    background-color: $color-bg-heavy;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    &__logo {
        @include logo-letter;
        font-size: 18px;
        color: #fff;
        margin-bottom: 11px;
    }
    &__link {
        color: #fff;
        i {
            margin-right: 11px;
        }
    }

    @media (min-width: 770px) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding: 60px 10px 30px 10px;
        &__logo {
            order: 5;
            margin: 0 0 0 50px;
            margin-right: 5vw;
        }
    }
}

// Menu page *****

img[class="menu__img"] {
    object-fit: cover;
    height: 250px;
    max-width: 1440px;
    margin: 0 auto;
}
.restaurants__page {
    position: relative;
}
.menu {
    // padding: 0 15px;
    gap: 12px;
    max-width: 1055px;
    margin: 0 auto;
    background-color: $color-bg-light;

    &__hero {
        position: relative;
        &__title {
            position: relative;
            top: -25px;
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            max-width: 1055px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            padding: 32px 17px 0px 17px;
            background-color: $color-bg-light;

            @media (min-width: 770px) {
                justify-content: center;
            }
            &--logo {
                @include logo-letter;
            }
        }
        &__i {
            display: grid;
            margin-right: 15px;
        }
    }
    &__carte {
        max-width: 658px;
        margin: 0 auto;
        padding: 13px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__title {
            margin-bottom: 3px;
            text-transform: uppercase;
            font-weight: $fw-main;
            &--underline {
                border-bottom: solid 3px $color-accepted-300;
            }
            &:not(.first-title) {
                margin-top: 40px;
            }
        }
    }
}
.menu__carte > * {
    opacity: 0;
    // toutes les div sont masqués pour l'effet d'apparition
}
.plats {
    display: grid;
    padding: 13px 15px;
    grid-template-areas:
        "title     .    "
        "sub-title price";
    grid-template-columns: 1fr auto;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    width: 100%;
    @media (min-width: 770px) {
        max-width: 634px;
    }
    &__title {
        grid-area: title;
        margin-bottom: 5px;
    }

    &__description {
        grid-area: sub-title;
    }
    &__title,
    &__description {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__prix {
        grid-area: price;
        font-weight: $fw-medium;
        margin-left: 14px;
        transition: all 300ms ease-in;
        text-align: end;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;

        background: $color-accepted-300;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        transition: all 300ms ease-in;

        position: absolute;
        top: 0;
        bottom: 0;
        right: -75px;
    }
}

// is() -> "si" plats:hover "alors" plats__check
:is(.plats:hover, .plats:active) :is(.plats__check) {
    margin-right: 75px;
    // width check icon
}
:is(.plats:hover, .plats:active) :is(.plats__prix) {
    margin-right: 61px;
    // width check icon - 14px padding
}

.btn__commander {
    margin: 28px auto 40px auto;
    // calc(40px - 12px) margin-top - gap
    &--link {
        @include main-gradient;
        padding: 16px 48px;
    }
}

@keyframes menu-presentation {
    from {
        opacity: 0;
        translate: 0 -100%;
    }
    50% {
        translate: 0;
    }
    to {
        opacity: 1;
    }
}

// for loop pour le delay d'animation du premier enfant (1) au dernier (14) de menu__carte > div:nth-child($i)
// et on délai l'animation de 200ms par enfant
@for $i from 1 through 14 {
    .animation:nth-child(#{$i}) {
        animation: menu-presentation 500ms ease-out calc($i * 200ms) forwards;
    }
}
