@import "../utilities/variables";

.h2-home {
    font-weight: $fw-heavy;
    font-size: $fs-title;
    margin-bottom: 26px;
}

.footer__logo,
.menu__hero__title--logo {
    font-family: $ff-logo;
    font-weight: 400;
    font-style: normal;
    color: #101010;
}
